.price-container {
  background-color: gainsboro;
  float: left;
  margin: 15px 5px;
  clear: left;
  width: 90%;
  border-radius: 10px;
}

.price-box {
  box-sizing: border-box;
  margin: 5px 10px;
  display: inline-block;
  width: 40%;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: #e60000;
  margin: 0;
}
