.price-container {
  background-color: lightgrey;
  float: left;
  margin: 5px;
  clear: left;
  width: 90%;
}

.price-box {
  display: inline-block;
  width: 45%;
  margin: 0 auto;
}

.price {
  font-size: 25px;
  color: maroon;
}
