.color-selector {
  float: left;
  margin-left: 5px;
  clear: left;
  width: 200px;
}

.color-square {
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  border: 1px solid darkgray;
  border-radius: 10px;
  margin: 0 2px;
}

.color-name {
  font-weight: bold;
}